@import '../../styles/variables.scss';

.mode-switch-container {
    margin-top: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    width: $container-width;
}

.mode-btn {
    padding: 5px 10px;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    display: flex;
    width: 160px;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}

img {
    display: block;
    margin-right: 3px;
}

.active {
    background-color: white;
}